@import "variables.scss";
@import "mixins.scss";

h1{
    @include camion(green)
}
p{
    @include camion(blue)
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
        transition: 1s;
    }
    &-danger{
        background: $danger;
        color: $light;
        @include camion(red);
    }
    &-warning{
        background: $warning;
        color: $light;
    }
    &-success{
        background: $success;
        color: $light;
    }
}